<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/codemirror.css">
    <link rel="stylesheet" href="/stylesheets/dracula.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Code Report!</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse d-flex mx-auto" id="navbarSupportedContent">

                <button id='pdf' type="button" class="btn btn-primary m-2">Download PDF</button>
                <button type="button" class="btn btn-danger">Delete Room</button>

            </div>
        </div>
    </nav>
    <div class="container-fluid" id='headcode'>


        <p class="fs-4 fw-bold text-center">
            Labname:
            <%= labname %>
        </p>

        <div class="row" id='alldata'>

        </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/codemirrorlib/codemirror.min.js"></script>
    <script type="text/javascript" src="/javascripts/codemirrorlib/python.min.js"></script>
    <script type="text/javascript" src="/javascripts/codemirrorlib/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        window.onload = function() {
            let adminCode = window.location.toString().split('/')[5];
            let roomId = window.location.toString().split('/')[4];
            axios
                .post('/api/v1/getcode', {
                    roomId,
                })
                .then((res) => {
                    if (res.data.status === 200) {

                        let all = res.data.data.code;
                        for (var x = 0; x < all.length; x++) {

                            let html = ` <div class="col-10 mx-auto mt-3" id="username">
                               <div> <p class="fs-4 fw-bold">   ${all[x].username}</p>
             
                </div>
            </div>
            <div id='wpcode' class="col-10 mx-auto">
                <textarea id=${all[x].username} name="code"></textarea>
            </div>
            `;
                            document.getElementById('alldata').insertAdjacentHTML('beforeend', html)
                            const textinput = document.getElementById(`${all[x].username}`);
                            let editor = CodeMirror.fromTextArea(textinput, {
                                lineNumbers: true,
                                tabSize: 2,
                                readOnly: true,
                                mode: 'text/x-c++src',
                                theme: 'dracula',
                            });
                            editor.setSize('1200px', '600px');
                            editor.setValue(all[x].code)
                        }
                    } else {
                        console.log('Error');
                    }
                });
        }
        document.getElementById('pdf').addEventListener('click', () => {
            var element = document.getElementById('headcode');
            var opt = {
                margin: [0, 0, 0, 1],
                filename: 'mystudentcode.pdf',
                image: {
                    type: 'jpeg',
                    quality: 1
                },
                html2canvas: {
                    scale: 2
                },
                jsPDF: {
                    unit: 'in',
                    format: 'letter',
                    orientation: 'portrait'
                }
            };
            html2pdf(element, opt);
        })
    </script>

</body>

</html>
