<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <img class="wave" src="">
    <div class="container">
        <div class="img">
            <img src="/images/bg.png">
        </div>
        <div class="login-content">
            <form id='createform'>
                <img src="/images/avatar.svg">
                <h2 class="title">Fill the details</h2>
                <div class="input-div one">
                    <div class="i">
                        <!-- <i class="fas fa-user"></i> -->
                    </div>
                    <div class="div">
                        <!-- <h5>Room name</h5> -->
                        <input  required type="text" class="input" placeholder="Lab Name" value='' id='labname'>
                    </div>
                </div>
                <div class="input-div two">
                    <div class="i">
                    </div>
                    <div class="div">
                        <input  required type="text" class="input" placeholder="User name" value="" id='createdby'>
                    </div>
                </div>
                <div class="input-div three">
                    <div class="i">
                    </div>
                    <!-- <div class="div"> -->
                    <select required type="text" class="select" value="" id='language'>
                            <option disabled selected value> -- select a language -- </option>
                            <option value='49'>C</option>
                            <option value='54'>C++ </option>
                            <option value='62'>Java(13.0.1)</option>
                            <option value="71">Python(3.8.1)</option>
                        </select>
                    <!-- </div> -->
                </div>
                <div class="input-div pass">
                    <div class="i">
                    </div>
                    <div class="div">
                        <input required type="password" class="input" placeholder="Enter Password" value="" id='password'>
                    </div>
                </div>
                <!-- <a href="#">Create Room</a> -->
                <button class="btn" type="submit" id='generatelink'>Get Link</button>
            </form>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 mx-auto" id='linkmodal'>

            </div>
        </div>
    </div>
    <script src="/javascripts/tata.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/javascripts/roomCreation.js"></script>
</body>
